@font-face {
    src: url(Fonts/SFDigitalReadout-Heavy.ttf);
    font-family: "sf-Digital";
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(pink, lightblue,orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter__app {
    width: 400px;
    height: 400px;
    background: #1B244A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 20px;
}

.app__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.app__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter__app h1 {
    color: yellow;
}

.app__content h3 {
    font-size: 30px;
    margin: 10px 0px;
}

.point__board {
    width: 100px;
    height: 100px;
    background: black;
    font-family: "sf-Digital";
    color: rgb(213 14 14);
    font-size: 100px;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 10px;
    padding: 0px 0px 0px 10px;
}

button {
    font-size: 16px;
    font-family: inherit;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: inherit;
    padding: 5px 8px;
    margin: 20px 2px;
    cursor: pointer;
}

.btn {
    background: rgb(168, 9, 9);
    padding: 10px 16px;
    margin: 0;
    border: none;
    outline: none;
}


@media (max-width: 450px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .counter__app {
        width: 300px;

    }

    h1 {
        font-size: 25px;
    }

    .app__content h3 {
        font-size: 18px;
    }

}